# python 3.10 or greater is needed on account of itertools.pairwise
# python 3.11 or greater is needed on account of numpy 2.3.0
sympy
numpy >= 2.3.0 # Need 2.3 or more to get past https://github.com/numpy/numpy/issues/28687 bug on M4 chips
iwpc >= 0.3.5
pytest
# drawsvg ~= 2.0
more-itertools # Can be avoided as dep if you only need distinct_permutations_with_leftovers, but needed if you use distinct_split
